
{{input value=logText}}

<button {{action "actionLogInfo"}}>Log info</button>
<button {{action "actionLogError"}}>Log error</button>
<button {{action "actionLogInfoArgs"}}>Log with arguments</button>
